body, html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;

}

html{
  background: radial-gradient(63.61% 63.61% at 50% 50%, rgba(255, 255, 255, 1e-05) 0%, rgba(84, 70, 50, 0.1) 100%), url(../images/bg.jpg), #F7F4F0;
  background-blend-mode: multiply, multiply, normal;
}
