h1{
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1.57143px;
  text-transform: uppercase;
  color: #544632;
  margin: 120px 0 10px;
}
h2{
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #544632;
  margin: 0 0 80px 0;
}
