.container_carte {
  display: flex;
  align-items: start;
  justify-content: center;

  .bloc_photo {
    width: 267px;
    height: 354px;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-fill-mode: backwards;

    &:hover {
      z-index: 99;
      transform: scale(1.1);

      .carte{
        box-shadow: 0px 32px 11px rgba(36, 36, 40, 0.07), 0px 32px 59px rgba(36, 36, 40, 0.2);
      }
    }

    .carte {
      width: 267px;
      height: 354px;
      background: white;
      border: 12px solid #fff;
      border-radius: 12px;
      transform-style: preserve-3d;
      transition: 1s;
      box-shadow: 0 6px 15px rgba(36, 36, 40, 0.08), 0 1px 3px rgba(36, 36, 40, 0.2);

      &__face--front {
        position: absolute;
        -webkit-backface-visibility: hidden;
      }

      &__face--back {
        width: 267px;
        height: 354px;
        transform: rotateY(180deg);
        background: white;

        .infos {
          bottom: 20px;
          position: absolute;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          text-transform: capitalize;
          padding: 10px;
        }
      }
    }


    &.sunset {
      margin-top: 105px;
      animation-delay: 2s;

      &.is-flipped {
        .carte {
          transform: rotate(-10deg) rotateY(540deg) scale(1);
        }
      }

      .carte {
        transform: rotate(-10deg);
      }
    }

    &.ampli {
      margin-top: 10px;
      animation-delay: 2.1s;

      .carte {
        transform: rotate(-2deg);
      }

      &.is-flipped {
        .carte {
          transform: rotate(-2deg) rotateY(540deg);
        }
      }
    }

    &.photographer {
      margin-top: 70px;
      animation-delay: 2.2s;

      .carte {
        transform: rotate(5deg);
      }

      &.is-flipped {
        .carte {
          transform: rotate(5deg) rotateY(540deg);
        }
      }
    }

    &.laptop {
      margin-top: -10px;
      animation-delay: 2.3s;

      .carte {
        transform: rotate(14deg);
      }

      &.is-flipped {
        .carte {
          transform: rotate(14deg) rotateY(540deg);
        }
      }
    }
  }
}
